name: Generate Profile 3D Contribution

on:
  schedule: # run automatically every 30 minutes
    - cron: "*/30 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v3
      - uses: yoshi389111/github-profile-3d-contrib@0.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name israel5
          git config user.email ipereira.eu@gmail.com
          git add -A .
          git commit -m "refactor: update profile-3d-contrib" || echo "No changes"
          git push
